<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>

<script>
    const gitalk = new Gitalk({
        clientID: '3bedc7be2c95db90fec4',
        clientSecret: 'cdf9dab72cab705e90c3d2593bb7dd9e5fd02f72',
        repo: 'wko/wkyo.github.io', // The repository of store comments,
        owner: 'wkyo',
        admin: ['wkyo'],
        id: location.pathname, // Ensure uniqueness and length less than 50
        distractionFreeMode: false // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
</script>