<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keyword" content="{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords | join: ',' }}{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ site.favicon.site | relative_url }}" type="image/svg">
    <title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% include common_libs.liquid %}
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
    {% include header.liquid %}
    {{ content }}
</body>

</html>